<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <nav>
        <div class="nav_item"><a href="/blog">Blog Home</a></div>
        
        {% if user.is_authenticated %}
        <div class="nav_item"><a href="/blog/article">Create Article</a></div>
        <div class="nav_item"><a href="/blog/logout">Logout</a></div>
        {% else %}
        <div class="nav_item"><a href="/blog/login">Login</a></div>
        {% endif %}
        
    </nav>
    {% block content %}{% endblock %}
</body>
</html>